Arne Hasselbring <arha@uni-bremen.de>
Arne Hasselbring <arha@uni-bremen.de> <arha@605e0214-5419-0410-8518-eac4bf5b8dd4>
Arne Hasselbring <arha@uni-bremen.de> <Arne.Hasselbring@dfki.de>
Arne Moos <arne.moos@tu-dortmund.de>
Arne Moos <arne.moos@tu-dortmund.de> <15824789+arnemoos@users.noreply.github.com>
Dietmar Schreiner <DietmarSchreiner@605e0214-5419-0410-8518-eac4bf5b8dd4>
Eleonora Chiarantano <ele.chiarantano@gmail.com>
Emanuele Antonioni <antonioni@diag.uniroma1.it>
Emanuele Musumeci <ing.emanuele.musumeci@gmail.com>
Emanuele Musumeci <ing.emanuele.musumeci@gmail.com> <musumeci.1653885@studenti.uniroma1.it>
Emanuele Musumeci <ing.emanuele.musumeci@gmail.com> <EmanueleMusumeci@users.noreply.github.com>
Hannah Müller <hannah.mueller@605e0214-5419-0410-8518-eac4bf5b8dd4>
Heinrich Mellmann <HeinrichMellmann@605e0214-5419-0410-8518-eac4bf5b8dd4>
Ingmar Schwarz <schwingmar@605e0214-5419-0410-8518-eac4bf5b8dd4>
Katie Genter <KatieGenter@605e0214-5419-0410-8518-eac4bf5b8dd4>
Matthias Hofmann <MatthiasHofmann@605e0214-5419-0410-8518-eac4bf5b8dd4>
Patrick Göttsch <patrick.goettsch@tuhh.de>
Patrick Göttsch <patrick.goettsch@tuhh.de> <PatrickGoettsch@users.noreply.github.com>
Rick Middleton <RickMiddleton@605e0214-5419-0410-8518-eac4bf5b8dd4>
Rudi Villing <rvdevmail@gmail.com>
Rudi Villing <rvdevmail@gmail.com> <rvilling@605e0214-5419-0410-8518-eac4bf5b8dd4>
Somchaya Liemhetcharat <SomchayaLiemhetcharat@605e0214-5419-0410-8518-eac4bf5b8dd4>
Stefan Czarnetzki <StefanCzarnetzki@605e0214-5419-0410-8518-eac4bf5b8dd4>
Stefan Seering <git-public@stefan.seeri.ng>
Tekin Meriçli <TekinMericli@605e0214-5419-0410-8518-eac4bf5b8dd4>
Thomas Röfer <roefer@605e0214-5419-0410-8518-eac4bf5b8dd4>
Tim Laue <tim@605e0214-5419-0410-8518-eac4bf5b8dd4>
Timothy Wiley <timothy.wiley@rmit.edu.au>
Timothy Wiley <timothy.wiley@rmit.edu.au> <timothyw@cse.unsw.edu.au>
Tobias Kalbitz <tkalbitz@605e0214-5419-0410-8518-eac4bf5b8dd4>
Todd Hester <ToddHester@605e0214-5419-0410-8518-eac4bf5b8dd4>
Çetin Meriçli <CetinMericli@605e0214-5419-0410-8518-eac4bf5b8dd4>
